@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*----MOBILE LAYOUT----*/

body {
    font-family: 'Roboto', sans-serif;
    color:#365902;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "hero"
                         "invite"
                         "links"
                         "footer";
}

h1, h2 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: bold;
}

#logo,
#navbar,
#header-btn {
    display: none;
}

.thumbnail img {
    width: 100%;
    margin: 6% 0% 3% 0%;
    max-height: 250px;
}

.btn {
    border-radius: 10px;
    width: 103px;
    height: 30px;
    border: 2px solid #365902;
    background-color: #ffffff;
    font-size: 16px;
    text-align: center;
    color: #365902;
    font-weight: bold;
}

#header-btn {
    border: 1.5px solid #000000;
}

#join-btn {
    border: 3px solid #ffffff;
    background-color: #c60639;
    color: #ffffff;
    width: 138px;
    height: 45px;
    font-size: 24px;
}

header {
    grid-area: header;
    min-height: 65px;
}

#header-banner {
    height: 100%;
    background-color: #365902;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

h1 {
    font-size: 1.6em;
}

#hero {
    grid-area: hero;
    background-image: url("../images/hero-image1.jpg");
    background-color: #365902;
    height: 265px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

#invite {
    grid-area: invite;
    color: #c60639;
    text-align: center;
    margin-top: 8%;
    line-height: 1.3;
}

#invite h2 {
    font-size: 1.4em;
}

#cards {
    grid-area: links;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6% 7%;
    align-items: center;
}

.thumbnail h3 {
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 1.2em;
    flex-grow: 1;
}

/* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: block;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #ffffff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.divider {
    width: 100%;
    height: 1px;
    background-color:#365902;
    margin: 6% 0%;
}

footer {
    grid-area: footer;
    margin: 3% 1.5% 0% 1.5%;
    font-size: 0.8em;
}

footer p {
    margin-bottom: 4%;
}

/*----VARIOUS SIZES MEDIA QUERY----*/

@media screen and (min-width: 400px) {
    .thumbnail img {
        max-height: 350px;
    }
}

@media screen and (min-width: 550px) {
    h1 {
        font-size: 2em;
    }

    #invite {
        font-size: 1.5em;
    }

    #hero {
        height: 365px;
    }

    #logo {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 3% 0%;
    }
}

/*----TABLET LAYOUT----*/

@media screen and (min-width: 700px) {

#header-btn {
    display: block;
    align-self: end;
    margin-right: 2%;
    margin-bottom: 1.5%;
}

.hamburger {
    display: none;
}

#navbar {
    display: inline-block;
    height: 45px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

ul a {
    text-decoration: none;
    color: #365902;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
}

#header-banner {
    height: 85%;
}

h1 {
    font-size: 2.2em;
}

#cards {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.card-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-around;
}

.thumbnail {
    margin: 0% 2%;
}

.thumbnail img {
    flex-grow: 1;
}

.thumbnail h3 {
    text-align: center;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#hero {
    margin-top: 0%;
}

#join-btn {
    width: 165px;
    height: 55px;
    font-size: 28px;
}

h2 {
    margin-left: 2%;
    margin-right: 2%;
}

.thumbnail img {
    height: auto;
    margin: 6% 0% 3% 0%;
    max-width: 100%;
    max-height: 100%;
}

footer {
    margin: 0% 1.5%;
}

.divider {
    margin: 6% 0% 4% 0%;
}

}

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 3.8em;
    }

    #logo {
        display: inline-block;
        width: 123px;
        height: 123px;
        margin: 3% 0%;
    }

    ul {
        font-size: 1.4em;
    }

    #invite {
        font-size: 1.9em;
    }

    footer {
        font-size: 1em;
        margin: 0% 1.5% 0% 1.5%;
    }

    .thumbnail {
        margin: 0% 2%;
        justify-content: flex-start;
    }

    .thumbnail h3 {
        font-size: 1.4em;
    }

    #invite {
        margin-top: 5%;
    }

    .divider {
        margin: 4% 0%;
    }

    #cards {
        margin-top: 3%;
    }

    #join-btn {
        width: 180px;
        height: 65px;
        font-size: 32px;
    }

}

@media screen and (min-width: 1350px) {

    h1 {
        font-size: 5em;
    }

    #invite {
        font-size: 2.5em;
    }

    #hero {
        height: 500px;
    }

    #header-banner {
        height: 75%;
    }

    #navbar {
        height: 25%;
    }

    #join-btn {
        width: 225px;
        height: 85px;
        font-size: 40px;
    }

    .thumbnail img {
        max-width: 70%;
    }

    .thumbnail h3 {
        font-size: 1.7em;
    }

    footer p {
        margin-bottom: 2%;
    }

}